<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <a href="/"> <div class="coin"></div> </a>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="/about" class="nav-link scrollto"
            ><i class="bx bx-user"></i> <span>About</span></a
          >
        </li>
        <li>
          <a href="/blog/" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Blog</span></a
          >
        </li>
        <li>
          <a href="/contact/" class="nav-link scrollto"
            ><i class="bi bi-person-lines-fill"></i><span>Contact</span></a
          >
        </li>
        <li>
          <a href="/links/" class="nav-link scrollto"
            ><i class="bi bi-link-45deg"></i><span>Links</span></a
          >
        </li>
        <li>
          <a href="/other/" class="nav-link scrollto"> <span>Other</span></a>
        </li>

        <li>
          <a href="https://git.concealed.world/" class="nav-link scrollto"
            ><span>Git</span></a
          >
        </li>

        <li>
          <a href="https://git.concealed.world/" class="nav-link scrollto">
            <span>IRC</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>

<script>
  const coinElement = document.querySelector(".coin");

  coinElement.addEventListener("mouseout", () => {
    coinElement.classList.add("reset");
  });

  coinElement.addEventListener("mouseenter", () => {
    coinElement.classList.remove("reset");
  });
</script>
