<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <a href="/"> <div class="coin"></div> </a>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        {{- range site.Menus.main }}
        <li>
          <a href="{{.URL}}" class="nav-link scrollto">
            {{- with .Params.icon -}} <i class="{{ . }}"></i>
            {{end}}
            <span>{{.Name}}</span></a
          >
        </li>
        {{end}}
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>

<script>
  const coinElement = document.querySelector(".coin");

  coinElement.addEventListener("mouseout", () => {
    coinElement.classList.add("reset");
  });

  coinElement.addEventListener("mouseenter", () => {
    coinElement.classList.remove("reset");
  });
</script>
